@import "../../globalStyles/global.scss";
@import "../../globalStyles/theme.scss";

.contentProducts {
  background-image: url("../../../content/images/BgProdMobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.titleProducts {
  padding-top: 10rem;
  text-align: center;
}
.Products {
  display: grid;
  grid-template-columns: 1fr;
  padding: 3rem 0;
  .iconContainer {
    img {
      width: 64px;
    }
  }
}

.ProductCard {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  h6 {
    margin: 1rem 0;
  }
  .textCard {
    p{
      text-align: center;
    }
  }
}

@media (min-width: $breakpoint-md) {
  
  .Products {
    grid-template-columns:
      1fr var(--middle-column-width, 760px)
      1fr;
    padding-top: 4rem;
    &__content {
      display: flex;
    }
  }
  .ProductCard {
    width: 33%;
  }
}

@media (min-width: $breakpoint-lg) {
  .contentProducts {
    background-image: url("../../../content/images/BgProdDesktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2rem;
  }
  .titleProducts {
    padding-top: 12rem;
  }
  .Products {
    grid-template-columns:
      1fr var(--middle-column-width, 960px)
      1fr;
    padding: 5rem 0;
    
  }
}

@media (min-width: $breakpoint-xl) {
  .Products {
    grid-template-columns:
      1fr var(--middle-column-width, 1110px)
      1fr;
    
  }
  
}

@media (min-width: $breakpoint-xxl) {
  .Products {
    grid-template-columns:
      1fr var(--middle-column-width, 1260px)
      1fr;
  }
}

@media (min-width: $breakpoint-xxxl) {
  .Products {
    grid-template-columns:
      1fr var(--middle-column-width, 1410px)
      1fr;
      
  }
}

@media (min-width: $breakpoint-xxxxl) {
  .Products {
    grid-template-columns:
      1fr var(--middle-column-width, 1560px)
      1fr;
  }
}
