@import "../../../globalStyles/global.scss";
@import "../../../globalStyles/theme.scss";

.Medias {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  a {
    margin-right: 2rem;
    color: $bg-color;
  }
}

.Logo {
  font-weight: 500;
  color: var(--background-color);
  letter-spacing: 1px;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}