@import "../globalStyles/global.scss";

.article {
  .articleHeader {
    display: grid;
    grid-template-columns: 1fr;

    img {
      height: 30vh;
      width: 100%;
      object-fit: cover;
    }
    
    .titleContent{
      background: $light-gray-2;
    }
    .title {      
      padding: 1rem 1.5rem 0 1.5rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-clamp: 2;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-bottom: 0px;
      border-bottom: 1px solid $light-gray-2;
    }
    .vacio {
      background: $light-gray-2;
      height: 1rem;
    }
  }
  .cardsArticle {
    .cardsContent {
      padding: var(--page-padding);
    }

    h4 {
      border-top: 2px solid $light-green-2;
    }
    .cards {
      margin: 0 auto;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .cards {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: $breakpoint-md) {
  .article {
    .articleHeader {
      .title {
        padding: 1rem 2.5rem 1rem 0;
      }
      .titleContent {
        display: grid;
        grid-template-columns: 1fr 760px 1fr;
      }
    }
    .cardsArticle {
      display: grid;
      grid-template-columns: 1fr 760px 1fr;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .article {
    .articleHeader {
      .titleContent {
        grid-template-columns: 1fr 960px 1fr;
      }
    }
    .cardsArticle {
      grid-template-columns: 1fr 960px 1fr;
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .article {
    .articleHeader {
      .titleContent{
        grid-template-columns: 1fr 1110px 1fr;

        .title {
          padding: 1rem 0;
        }
      }
      img {
        height: 40vh;
      }
    }
  }
  .cardsArticle {
    display: grid;
    grid-template-columns: 1fr 1110px 1fr;
    .cardsContent {
      padding: 0 !important;
    }
  }
}


@media (min-width: $breakpoint-xxl) {
  .article {
    .articleHeader {
      .titleContent {
        grid-template-columns: 1fr 1260px 1fr;
      }
    }
    .cardsArticle {
      grid-template-columns: 1fr 1260px 1fr;
    }
  }
}

@media (min-width: $breakpoint-xxxl) {
  .article {
    .articleHeader {
      .titleContent {
        grid-template-columns: 1fr 1410px 1fr;
      }
      
    }
    .cardsArticle {
      grid-template-columns: 1fr 1410px 1fr;
    }
  }
}

@media (min-width: $breakpoint-xxxxl) {
  .article {
    .articleHeader {
      .titleContent {
        grid-template-columns: 1fr 1560px 1fr;
      }
    }
    .cardsArticle {
      grid-template-columns: 1fr 1560px 1fr;
    }
  }
}
