/* GLOBAL VARIABLES */
:root {
  --border-radius: 0.5rem;
  --page-width: 68.75rem;
  --page-padding: 0 2.5rem;
  --header-height: 6.25rem;
  --footer-height: 7.5rem;
}

$primary-font: "Gothic A1", sans-serif;

/* COLORS */
$bg-color: var(--background-color);
$bg-black: #1b1c1e;
$bg-white: #fcfcfc;
$dark-green: #0a694d;
$light-green-1: #a3e8c4;
$light-green-2: #87c0a2;
$gray: #868585;
$light-gray-1: #b4b2b0;
$light-gray-2: #dfdfdf;

/* BREAKPOINTS max width of content in comments */
$breakpoint-sm: 576px;
$breakpoint-md: 768px; //760
$breakpoint-lg: 992px; //960 320/640
$breakpoint-xl: 1200px; //1110 370/740
$breakpoint-xxl: 1400px; //1260 420/840
$breakpoint-xxxl: 1600px; //1410 470/940
$breakpoint-xxxxl: 1800px; //1560 520/1040
$breakpoint-max: 1920px; //1710 570/1140

/* BUTTONS */
@mixin primaryBtn {
  font-size: 1rem;
  font-weight: 700;
  border-radius: var(--border-radius);
  border: 0.125rem solid $dark-green;
  transition: 20ms ease-out;
  background-color: $dark-green;
  color: $bg-white;
  height: 44px;
  width: 200px;
  display: grid;
  place-content: center;

  &:hover {
    background: var(--background-color);
    color: var(--primary-color-green) !important;
  }
  &:focus {
    background: var(--background-color);
    color: var(--primary-color-green) !important;
  }
}

@mixin secondaryBtn {
  font-size: 1rem;
  font-weight: 700;
  height: 44px;
  width: 200px;
  display: grid;
  place-content: center;
  border-radius: var(--border-radius);
  border: 0.125rem solid $bg-white;
  transition: 20ms ease-out;
  background-color: $light-green-1;
  color: $bg-black;

  &:hover {
    color: $bg-white !important;
    background-color: $light-green-2;
    border: 0.125rem solid $bg-white;
  }

  &:focus{
    color: $bg-white !important;
    background-color: $light-green-2;
    border: 0.125rem solid $bg-white;
  }
}

@mixin outlinedButton {
  height: 44px;
  width: 200px;
  display: grid;
  place-content: center;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.5rem;
  border: 0.125rem solid $dark-green;
  transition: 20ms ease-out;
  background-color: $bg-white;
  color: $dark-green;

  &:hover {
    background-color: $light-gray-2;
  }

}

/* GLOBAL STYLES */
* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background: var(--primary-color-white);
  color: var(--text-color);
  font-size: 1rem;
  font-family: var(--base-font);
  line-height: 1.5rem;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  margin: 0;
}

body.fixed {
  position: fixed;
  overflow: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: var(--subtext-color);
  cursor: pointer;
}

a:hover {
  outline: 0;
}

a:focus {
  outline-color: var(--subtext-color);
  outline-style: dotted;
  outline-width: 2px;
}

// Font weights
$lighter: 200;
$regular: 400;
$medium: 500;
$bold: 600;
$max-bold: 700;

/* Sizes */
$xxxxxs: 0.75rem; //12px
$xxxxs: 0.875rem; //14px
$xxxs: 1rem; //16px
$xxs: 1.125rem;
$xs: 1.25rem; //20px
$s: 1.5rem; //24px
$m: 1.75rem; //28px
$l: 2rem; //32px
$xl: 2.25rem; //36px
$xxl: 2.5rem; //40px
$xxxl: 3rem; //48px
$xxxxl: 3.5rem; //56px
$xxxxxl: 4rem; //64px

// display-large
h1 {
  font-size: $xxl;
  font-weight: $max-bold;
}

// display-medium
h2 {
  font-size: $xl;
  font-weight: $max-bold;
}

// display-small
h3 {
  font-size: $l;
  font-weight: $max-bold;
}

// headline-large
h4 {
  font-size: $m;
  font-weight: $max-bold;
}

// headline-medium
h5 {
  font-size: $s;
  font-weight: $max-bold;
}

// headline-small
h5.headline-small {
  font-size: $xs;
  font-weight: $max-bold;
}

h6.title-large {
  font-size: $m;
  font-weight: $medium;
}

h6.title-medium {
  font-size: $s;
  font-weight: $medium;
}

h6.title-small {
  font-size: $xs;
  font-weight: $medium;
}

//body large
p {
  font-size: $xxxs;
  font-weight: $regular;
  line-height: 24px;
}

p.body-medium {
  font-size: $xxxxs;
  font-weight: $regular;
}

p.body-small {
  font-size: $xxxxxs;
  font-weight: $regular;
}

small.label-large {
  font-size: $xxs;
  font-weight: $max-bold;
}

// label-medium
small {
  font-size: $xxxs;
  font-weight: $max-bold;
}

small.label-small {
  font-size: $xxxxs;
  font-weight: $max-bold;
}

.containerRight {
  padding-right: 0.5rem;
}

@media screen and (min-width: $breakpoint-xl) {
  h1 {
    font-size: $xxxxxl;
  }

  h2 {
    font-size: $xxxxl;
  }

  h3 {
    font-size: $xxxl;
  }

  h4 {
    font-size: $xxl;
  }

  h5 {
    font-size: $xl;
  }

  h5.headline-small {
    font-size: $l;
  }

  p {
    font-size: $xs;
    line-height: 28px;
  }

  .containerRight {
    padding-right: 4rem;
    max-width: 760px;
  }
}

hr {
  margin: 3rem auto;
  border-width: 0.05rem;
  color: var(--tertiary-color);
  opacity: 0.1;
}

u {
  text-decoration: none;
  box-shadow: inset 0 -0.5em 0 var(--secondary-color);
  transition: box-shadow 0.3s ease-out;
}

u:hover {
  box-shadow: inset 0 -1em 0 var(--secondary-color);
}

#___gatsby,
#gatsby-focus-wrapper {
  width: 100%;
  height: 100%;
}

/* Disable smooth scrolling when users have prefers-reduced-motion enabled */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
