body[data-theme='lightTheme'] {
    --primary-color-green: #0A694D;
    --primary-color-white: #fcfcfc;
    --primary-color: #000000;
    --secondary-color: #fff4d9;
    --tertiary-color: #f2f2f2;
    --text-color: #000000;
    --subtext-color: #555555;
    --background-color: #ffffff;
    --card-background-color: #ffffff;
    --scroll-bar-color: rgba(0, 0, 0, 0.5);
    --box-shadow-color: rgba(0, 0, 0, 0.16);
    --box-shadow-hover-color: rgba(0, 0, 0, 0.32);
    --base-font: 'Gothic A1', Arial, sans-serif;
    --code-block-bg: #f5f6f9;
    --code-block-var: #da0078;
    --code-block-num: #bf04b7;
    --code-block-fun: #3d5afe;
    --code-block-keyword: #fe4001;
    --code-block-comment: #7f7f7f;
    --code-block-tkimp: #fd971f;
}

body[data-theme='darkTheme'] {
    --primary-color-green: #0A694D;
    --primary-color-white: #fcfcfc;
    --primary-color: #000000;
    --secondary-color: #fff4d9;
    --tertiary-color: #f2f2f2;
    --text-color: #000000;
    --subtext-color: #555555;
    --background-color: #ffffff;
    --card-background-color: #ffffff;
    --scroll-bar-color: rgba(0, 0, 0, 0.5);
    --box-shadow-color: rgba(0, 0, 0, 0.16);
    --box-shadow-hover-color: rgba(0, 0, 0, 0.32);
    --base-font: 'Gothic A1', Arial, sans-serif;
    --code-block-bg: #f5f6f9;
    --code-block-var: #da0078;
    --code-block-num: #bf04b7;
    --code-block-fun: #3d5afe;
    --code-block-keyword: #fe4001;
    --code-block-comment: #7f7f7f;
    --code-block-tkimp: #fd971f;
}
