@import "../../globalStyles/global.scss";
@import "../../globalStyles/theme.scss";

.DualAsymmetric {
  display: grid;
  grid-template-columns:
    1fr var(--left-column-width, 350px) var(--right-column-width, 750px)
    1fr;
  min-height: 60vh;
  // &.left {
  //   order: 3;
  // }
  &.right {
    grid-template-columns:
      1fr var(--left-column-width, 750px) var(--right-column-width, 350px)
      1fr;
  }
}

.DualAsymmetric .ImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  // &.left {
  //   order: 3;
  // }
  &.right {
    order: 1;
  }
}

.DualAsymmetric .TextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2.5rem;
  p,
  h4 {
    width: 50%;
  }
  &.right {
    order: 0;
  }
  // &.left {
  //   order: 3;
  // }
}

.emptyRight {
  &.right {
    order: 5;
  }
}

.DualAsymmetric .Title {
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
  line-height: normal;
}

.DualAsymmetric .Button {
  margin: 1rem 0;
  &.default {
    @include primaryBtn;
  }
  &.alternative {
    @include secondaryBtn;
  }
}

@media (max-width: 768px) {
  .DualAsymmetric {
    &.left {
      flex-direction: column;
    }
    &.right {
      flex-direction: column;
    }
  }
  .DualAsymmetric .ImageContainer {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .DualAsymmetric .TextContainer {
    p,
    h4 {
      width: 90%;
    }
  }
}

@media (min-width: 768px) {
  .DualAsymmetric {
    &.left {
      flex-direction: row;
    }
    &.right {
      flex-direction: row-reverse;
    }
  }
  .DualAsymmetric .TextContainer {
    p,
    h4 {
      width: 70%;
    }
  }
  .DualAsymmetric .ImageContainer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
