@import "../../globalStyles/global.scss";
@import "../../globalStyles/theme.scss";

.BannerDoble {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 18rem;
  text-align: center;
}

.BannerDoble .Text {
  display: flex;
  flex-grow: 2;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  &.light {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    blockquote {
      color: $bg-white;
    }
  }
  &.dark {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    blockquote {
      color: $bg-black;
    }
  }
}

.BannerDoble .ImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}

.BannerDoble .Button {
  a {
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .BannerDoble {
    flex-direction: column;
  }
  .BannerDoble .ImageContainer {
    width: 100%;
  }
  .BannerDoble .Text {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .BannerDoble {
    flex-direction: row;
  }
}
