@import "../../globalStyles/global.scss";
@import "../../globalStyles/theme.scss";

.BannerDoble {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.BannerDoble .Text {
  display: flex;
  justify-content: center;
  height: 100%;
  &.light {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote {
      color: $bg-white;
    }
  }
  &.dark {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote {
      color: $bg-black;
    }
    a {
      color: $dark-green;
    }
  }
  .TextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem 1.5rem 3rem 1.5rem;
    .Subtitle {
      img {
        max-width: 40px;
      }
    }
  }
}

.BannerDoble {
  .ImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 3rem 4rem;
    img {
      max-width: 192px;
    }
  }
}

.BannerDoble .Link {
  a {
    text-decoration: underline;
  }
}
.BannerDoble .Button {
  align-self: center;
  margin: 16px 0;
  &.default {
    @include primaryBtn;
    color: $bg-white !important;
  }
  &.alternative {
    @include secondaryBtn;
    color: $bg-black !important;
  }
}

@media (min-width: $breakpoint-md) {
  .BannerDoble {
    display: grid;
    grid-template-columns:
      1fr var(--left-column-width, 250px) var(--right-column-width, 450px)
      1fr;
    .ImageContainer {
      padding: 1.5rem;
      justify-content: flex-start;
    }
  }
  .BannerDoble {
    .Text {
      .TextContainer {
        padding-bottom: 0;
      }
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .BannerDoble {

    grid-template-columns:
      1fr var(--left-column-width, 320px) var(--right-column-width, 640px)
      1fr;
      .Text .TextContainer .Subtitle {
        img {
          max-width: 50px;
        }
      }
      .ImageContainer {
        padding: 5rem 2.5rem;
      }
  }
}

@media (min-width: $breakpoint-xl) {
  .BannerDoble {
    grid-template-columns:
      1fr var(--left-column-width, 370px) var(--right-column-width, 740px)
      1fr;
      .Text {
        justify-content: start;
        padding-left: 5rem;
      }
  }
}

@media (min-width: $breakpoint-xxl) {
  .BannerDoble {

    grid-template-columns:
      1fr var(--left-column-width, 420px) var(--right-column-width, 840px)
      1fr;
  }
}

@media (min-width: $breakpoint-xxxl) {
  .BannerDoble {

    grid-template-columns:
      1fr var(--left-column-width, 470px) var(--right-column-width, 940px)
      1fr;
  }
}

@media (min-width: $breakpoint-xxxxl) {
  .BannerDoble {

    grid-template-columns:
      1fr var(--left-column-width, 520px) var(--right-column-width, 1040px)
      1fr;
  }
}
