@import "../../globalStyles/global.scss";
@import "../../globalStyles/theme.scss";

.BannerDoble {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.BannerDoble .Text {
  display: flex;
  justify-content: center;
  height: 100%;
  &.light {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    blockquote {
      color: $bg-white;
    }
  }
  &.dark {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    blockquote {
      color: $bg-black;
    }
  }
  .TextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem 1.5rem 3rem 1.5rem;
  }
}

.BannerDoble {
  .ImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 3rem 4rem;
  }
}

.BannerDoble .Button {
  a {
    text-decoration: underline;
  }
}

@media (min-width: $breakpoint-md) {
  .BannerDoble {
    height: 18rem;
    display: grid;
    grid-template-columns:
      1fr var(--left-column-width, 250px) var(--right-column-width, 450px)
      1fr;
    .ImageContainer {
      padding: 1.5rem;
      justify-content: flex-start;
    }
  }
  .BannerDoble {
    .Text {
      .TextContainer {
        padding-bottom: 0;
      }
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .BannerDoble {
    display: grid;
    grid-template-columns:
      1fr var(--left-column-width, 350px) var(--right-column-width, 750px)
      1fr;
      .ImageContainer {
        padding: 2.5rem;
      }
  }
}
