@import "../../globalStyles/global.scss";
@import "../../globalStyles/theme.scss";

.Banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.Title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
  line-height: normal;
}

.Text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Button {
  a{
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .Banner {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .Banner {
    flex-direction: row;
  }
}
