@import "../../globalStyles/global.scss";
@import "../../globalStyles/theme.scss";

.Card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 282px;
  min-height: 550px;
  padding: 16px;
}

.Card .Title {
  padding-top: 1rem;
}

.Card .Content {
  p {
    // body-medium
    font-size: $xxxxs !important;
    font-weight: $lighter !important;
    line-height: 20px;
  }
}

.Card .ImageContainer {
  width: 250px;
  height: 180px;
}

.ArtistsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  line-height: normal;
}

.ArtistsContainer .Profile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: auto;
  align-items: center;
  max-width: 30%;
  color: $dark-green;
  a {
    color: $dark-green;
  }
}

.Profile .Icon {
  max-width: 40px;
  padding-bottom: 8px;
}

.Card .Artists {
  padding-left: 16px;
  font-weight: 200;
  font-size: 12px;
}

.Card .Link {
  color: $dark-green;
  padding-top: 24px;
  a,
  small {
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
  .Card {
    width: 250px;
  }
  .Card .ImageContainer {
    width: 220px;
    height: 158px;
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .Card {
    min-height: 350px;
    max-height: 550px;
  }
  .Card .Link {
    padding-top: 0px;
  }
}
