@import "../../globalStyles/global.scss";
@import "../../globalStyles/theme.scss";

.Card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 25%;
  padding: 16px;
}

.Card .Title {
  padding-top: 1rem;
}

.Card .Content {
  font-size: $xxxxs !important;
  font-weight: $lighter !important;
}

.ArtistsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  line-height: normal;
}

.ArtistsContainer .Profile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: auto;
  align-items: center;
  max-width: 30%;
  color: $dark-green;
  a {
    color: $dark-green;
  }
}

.Profile .Icon {
  max-width: 40px;
}

.Card .Artists {
  padding-left: 16px;
  font-weight: 200;
  font-size: 12px;
}

.Card .Link {
  color: $dark-green;
  a,
  small {
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .Card {
    max-width: 70%;
  }
}

@media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
  .Card {
    max-width: 30%;
  }
}

@media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
  .Card {
    max-width: 30%;
  }
}
