@import "../../globalStyles/global.scss";
@import "../../globalStyles/theme.scss";

.Card {
  width: 282px;
  padding: 16px;
  background-color: $bg-white;
  margin-top: 2rem;

  .Link {
    color: $dark-green;
    padding-top: 24px;
    a,
    small {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .Title {
    padding-top: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .Content {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    text-overflow: ellipsis;
    overflow: hidden;
    p {
      // body-medium
      font-size: $xxxxs !important;
      font-weight: $lighter !important;
      line-height: 20px;
    }
  }
  .ImageContainer {
    width: 100%;
    height: 235px;
    object-fit: cover;
  }
  .ArtistsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    line-height: normal;
    padding-top: 10px;

    .Profile {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      flex-wrap: wrap;
      height: auto;
      align-items: center;
      max-width: 30%;
      margin-top: 1rem;
      color: $dark-green;
      a {
        color: $dark-green;
      }
      .Icon {
        max-width: 40px;
      }
    }
    .Artists {
      padding-left: 16px;
      font-weight: 200;
      font-size: 14px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-clamp: 2;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .Card {
    width: 420px;
    &.wide {
      .ImageContainer {
        object-fit: cover;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  .Card {
    width: 240px;
    &.wide {
      width: 282px;
      .ImageContainer {
        width: 100%;
        height: auto;
        max-height: 180px;
        object-fit: scale-down;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .Card {
    width: 280px;
  }
}
