@import "../globalStyles/global.scss";
@import "../globalStyles/theme.scss";

@media (min-width: $breakpoint-md) {
  .containerBanner {
    margin-bottom: 3rem;
    padding-bottom: 6rem;
  }
}

@media (min-width: 820px) {
  .containerBanner {
    margin-bottom: 0rem;
  }
}
