@import "../../globalStyles/global.scss";
@import "../../globalStyles/theme.scss";

.logos {
    &__logos {
      margin-top: 10px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__image {
      margin-top: 15px;
      max-width: 220px;
    }

    .react-multi-carousel-list {
        .custom-arrow {
          background: none;
          color: black;
          max-width: 20px;
          max-height: 20px;
        }
        .left {
          left: -8px;
        }
        .right {
          right: -8px;
        }
        button {
          background: none;
    
          &::before {
            color: red;
            font-weight: 900;
          }
        }
        .react-multi-carousel-item {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    
}