@import "../../globalStyles/global.scss";
@import "../../globalStyles/theme.scss";

.Social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Social .Medias {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  a {
    margin-right: 2rem;
    color: $bg-color;
  }
}

.Social .Logo {
  color: var(--background-color);
  object-fit: scale-down;
  width: 100%;
  max-width: 300px;
  margin-bottom: 1.5rem;
}

.MediasHero {
  a {
    margin-right: 15px;
  }
}

@media (max-width: $breakpoint-sm) {
  .Social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .MediasHero {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }
  .Social .Medias {
    margin-right: 0.5rem;
    margin-left: 1rem;
  }
  .Social .Medias .Media {
    max-width: 40px;
  }
  .Social .Logo {
    max-width: 200px;
  }
}
