@import "../../globalStyles/global.scss";
@import "../../globalStyles/theme.scss";

.Footer {
  width: 100%;
  height: 100%;
  min-height: var(--footer-height);
  background: $dark-green;
  padding-bottom: 2rem;
}

.FooterWrapper {
  width: 100%;
  height: 100%;
  max-width: var(--page-width);
  margin: 0 auto;
  padding: var(--page-padding);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Footer .Title {
  color: var(--background-color);
  letter-spacing: 1px;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.Redes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  margin-bottom: 3rem;
}

.Contacto {
  margin: 3rem 0;
  align-self: center;
  .Contactos {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    img{
      width: 40px;
      height: 40px;
      margin-bottom: 1rem;
    }
    p {
      font-family: $primary-font;
      color: var(--background-color);
      letter-spacing: 1px;
      margin-bottom: 0;
    }
    p:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: 768px) {
  .FooterWrapper {
    max-width: 760px;
  }
  .Links a {
    margin-right: 4rem;
  }
  .Redes {
    margin: 0;
    margin-left: auto;
    margin-top: 3rem;
    justify-content: start;
  }
}


@media (min-width: 992px){
  .FooterWrapper  {
      max-width: 960px;
  }
}

@media (min-width: 1200px){
  .FooterWrapper  {
      max-width: 1110px;
  }
}

@media (min-width: 1400px){
  .FooterWrapper  {
      max-width: 1260px;
  }
}

@media (min-width: 1600px){
  .FooterWrapper  {
      max-width: 1410px;
  }
}

@media (min-width: 1800px){
  .FooterWrapper  {
      max-width: 1560px;
  }
}
