@import "../../globalStyles/global.scss";
@import "../../globalStyles/theme.scss";

.DualSymmetric {
    .imageContainer{
        width: 100%;
    }
    .videoContainer{
        height: 180px;
        iframe{
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
    .imageWrapper {
        box-shadow: 0 0 2.5rem var(--box-shadow-color);
        transition: all 0.3s ease-out;
        object-fit: cover;
        width: 100%;
        height: 100%;
        &:hover {
            transform: translate3d(0px, -0.125rem, 0px);
            box-shadow: 0 0 2.5rem var(--box-shadow-hover-color);
        }
    }
    
    .TextDetails {
        width: 100%;
        max-width: 35rem;
        margin-top: 3rem; 
        padding: 0 20px; 
        
        .Profile {
            small {
                color: var(--primary-color-green);
                font-weight: 700;
                font-size: 10px;
                text-align: center;
            }
            p {
                font-size: 14px;
            }
        }
    }

    a.CtaButton {
        &.alternative{
            @include secondaryBtn;
        }
        &.default{
            @include primaryBtn;
        }        
    }
}

@media (min-width: 425px) {
    .DualSymmetric {
        .videoContainer{
            height: 230px;
            
        }
    }
}
@media (min-width: 768px) {
    .DualSymmetric {
        .videoContainer{
            height: 400px;
            
        }
    }
}

@media (min-width: 992px) {
    .DualSymmetric {
        height: 500px;
        display: flex;
        column-gap: 2rem;            

        .videoContainer{
            height: 280px;
            width: 600px;
            align-self: center;
            flex-basis: 50%;
        }

        &.left {
            flex-direction: row;
          }
        &.right {
            flex-direction: row-reverse;
        }
        .imageContainer {
            flex-basis: 50%;
        }
        .TextDetails {
            flex-basis: 50%;
            margin-top: 0px;
            align-self: center;
        }
    } 
} 

@media (min-width: 1400px) {
    .DualSymmetric {
        column-gap: 8rem;
        
        .videoContainer{
            height: 405px;
        }
    }
}