@import "../../globalStyles/global.scss";

.heroBg {
  .bgImage {    
    display: grid;
    grid-template-columns: 1fr;
  }
  .contentText {
    padding: 3rem 1.5rem;
    grid-column-start: 3;
    .imageText {
      img {
        width: 100%;
        object-fit: cover;
        padding-bottom: 1.5rem;
      }
    }
  }
}

@media (min-width: $breakpoint-md) {
  .heroBg {
    .contentText {
      padding: 3rem;
    }
  }
}
@media (min-width: $breakpoint-lg) {
  .heroBg {
    background-image: url("../../../content/images/BackgroundWhite.svg");
    background-repeat: no-repeat;
    background-size: cover;
    .bgImage {
      display: grid;
      grid-template-columns:
        1fr var(--left-column-width, 420px) var(--right-column-width, 540px)
        1fr;
      .imageTemplate {
        display: block;
        img {
          height: 30vh;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .heroBg {
    .bgImage {
      display: grid;
      grid-template-columns:
        1fr var(--left-column-width, 470px) var(--right-column-width, 640px)
        1fr;
        .imageTemplate {
          img {
            height: 40vh;
          }
        }
    }
  }
}

@media (min-width: $breakpoint-xxl) {
  .heroBg {
    .bgImage {
      display: grid;
      grid-template-columns:
        1fr var(--left-column-width, 520px) var(--right-column-width, 740px)
        1fr;
    }
  }
}
