@import "../../globalStyles/global.scss";
@import "../../globalStyles/theme.scss";

.textResident {
    display: grid;
    grid-template-columns: 1fr;

    p {
        padding: 2rem 1.5rem 0 1.5rem;
        margin: 0;
    }
  }


@media (min-width: $breakpoint-md) {
    .textResident {
      margin-top: 1.5rem;
      display: grid;
      grid-template-columns:
        1fr var(--middle-column-width, 760px)
        1fr;
    }
  }
  
  @media (min-width: $breakpoint-lg) {
    .textResident {
      grid-template-columns:
        1fr var(--middle-column-width, 960px)
        1fr;
    }
  }
  
  @media (min-width: $breakpoint-xl) {
    .textResident {
      margin-top: 3rem;
      display: grid;
      grid-template-columns:
        1fr var(--middle-column-width, 1110px)
        1fr;
      margin-bottom: 3rem;
    }
  }
  
  @media (min-width: $breakpoint-xxl) {
    .textResident {
      grid-template-columns:
        1fr var(--middle-column-width, 1260px)
        1fr;
    }
  }
  
  @media (min-width: $breakpoint-xxxl) {
    .textResident {
      grid-template-columns:
        1fr var(--middle-column-width, 1410px)
        1fr;
    }
  }
  
  @media (min-width: $breakpoint-xxxxl) {
    .textResident {
      grid-template-columns:
        1fr var(--middle-column-width, 1560px)
        1fr;
    }
  }

  