@import "../../globalStyles/global.scss";
@import "../../globalStyles/theme.scss";

.Banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  max-height: 30vh;
  height: 100%;
}

.Banner .Title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: normal;
}

.Banner .ImageContainer {
  display: flex;
  justify-content: center;
  height: 100%;
}

.Banner .ImageWrapper {
  object-fit: scale-down;
  width: 100%;
}

@media (max-width: $breakpoint-sm){
  .Banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 256px;
  }
  .Banner .ImageContainer {
    min-height: 128px;
    max-height: 256px;
    height: 100%;
  }
  
  .Banner .ImageWrapper {
    object-fit: scale-down;
    width: 100%;
  }
}