.Banner{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.Title{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
  line-height: normal;
}

@media (max-width: 768px) {
  .Banner{
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .Banner{
    flex-direction: row;
  }
}